// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background: linear-gradient(135deg, $primary, $secondary);
  border-color: $highlight;
  border-width: 0px;
  &:active,
  &:focus,
  &:hover {
    background: linear-gradient(170deg, $primary, $secondary);
    border-color: darken($highlight, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
}
